body {
  font-family: "Raleway", sans-serif;
  margin: 2em;
  font-size: 16px;
}

h1 {
  font-weight: normal;
  font-size: 125%;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  margin-bottom: 1.75em;
  margin-left: 1.25em;
}

.box {
  display: flex;
  align-items: center;
  font-weight: normal;
  line-height: 1.4;
  color: black;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 85%;
}

nav li {
  padding: 0.6em 0.95em;
}

nav a {
  color: #595959;
  text-decoration: none !important;
  text-transform: uppercase;
}

nav a:hover {
  color: #000000;
}

#profile-img {
  border-radius: 50%;
  max-width: 45%;
  height: auto;
  vertical-align: middle;
  padding-right: 5%;
  filter: brightness(105%);
}

.text {
  text-align: left;
  margin-left: 1.25em;
  margin-bottom: 2em;
  margin-top: 2.5em;
}

.fa {
  padding: 0.5em;
  font-size: 175%;
  width: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.fa:hover {
  opacity: 0.8;
}

.fa-linkedin {
  background: #0E76A8;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.horizontal {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  margin-bottom: 1em;
}

.thumb-img {
  width: 55%;
  border: 0.75px solid #595959;
}

.project-link {
  color: black;
  text-decoration: none !important;
}

.project-link:hover {
  font-weight: bold;
  color: black;
}

@media (max-width: 812px) and (orientation: portrait) {
  body {
    margin: 1em;
  }
  h1 {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1.0em;
    margin-top: 1.0em;
  }
  nav ul {
    font-size: 75%;
  }
  nav li {
    padding: 0.3em 0.65em;
  }
  .box {
    display: inline-block;
    text-align: center;
  }
  img {
    max-width: 90%;
    display: block;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;
  }
  .text {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1.5em;
    margin-top: 2.25em;
  }
  .fa {
    margin-left: 0;
  }
  .fa-linkedin {
    margin-right: 0.5em;
  }
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}