#projectid {
  font-family:trebuchet ms;
  font-size:16px;
  color:#000000;
  margin-top:3em;
  position:absolute;
  bottom:1px;
  right:3px;
}

.projectlink {
  font-family:trebuchet ms;
  font-size:24px;
  text-align:left;
  color:#000000;
  display:block;
  margin-top:0.5em;
}
