#projectid {
  font-family:trebuchet ms;
  font-size:16px;
  text-align:right;
  color:#000000;
  margin-top:3em;
}

.projectlink {
  font-family:trebuchet ms;
  font-size:24px;
  text-align:left;
  color:#000000;
}
